fastapi
uvicorn
langgraph
langchain
langchain-google-genai
langchain-groq
google-generativeai
pydantic
sqlalchemy
python-dotenv
pandas
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pytest
httpx2
pyodbc